html, body {
  display: block; }

  .container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }

    table, th, td {
      border: 1px solid black; }

      .table th {
        font-weight: 700; }
        .table tbody tr td:first {
          width: 5%;
          text-align: center; }
          .table tbody tr td:not(1) {
            width: 24%;
            text-align: center; }

.page-btn {
  margin: 4px;
  margin-top: 10px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer; }
